<form method="post" action="http://up.qiniu.com/" enctype="multipart/form-data">
  <input name="key" type="hidden" value="webp.jpg">
  <input name="token" type="hidden" value="">
  <input name="file" type="file" />
</form>