*{
  margin: 0;
  padding: 0;
}
body{
  padding: 15px;
}
table{
  border-collapse: collapse;
  border-top: 1px solid #cfcfcf;
  border-bottom: 1px solid #cfcfcf;
}
table, table td, table th{
  border: 1px solid #cfcfcf;
}
table td, table th{
  padding: 5px;
}
